/.ipynb_checkpoints
/assets/*
/bin/*
/data/*
/images/*
/maps/*
/models/*
#/rules/*
/rules/old/*
/rules/tests/*
/scenes/*
/jupyter/output/*
;/dsas.git
/scripts/generate_city/__pycache__/*
scripts/__pycache__/*
/photos/
/dataset/*
/dataset_dimmed/*
/dataset_coco/*
/COCO_DATASETS/*
/spheric_photos_and_masks/*
/rules/oldies/*
/rules/test*
.vscode
/dataset_stages/spheric_photos_and_masks/*.png
